# Ignore node_modules and other common directories
node_modules
bower_components

# Ignore build outputs
dist
build
out

# Ignore temporary files and logs
*.log
*.tmp
*.temp

# Ignore environment variable files
.env
.env.local
.env.development
.env.production
.env.test

# Ignore version control folders
.git
.gitignore

# Ignore Dockerfiles in the project root (if you have them)
Dockerfile
docker-compose.yml

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore test output folders
coverage/
test-results/
Microservices/influxdb_data/